@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Nova+Mono&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
*{
    padding:0;
    margin:0;
    font-family: "Nunito", sans-serif;
}
body{
    background-color: #ffffff;
    overflow-x: hidden;
}
body .home-wrapper{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    padding: 10px;
    width: calc(100% - 20px);
}
/* response classs */
.response{
    position:absolute;
    padding:10px 10px;
    border-radius: 10px;
    font-size: 14px;
    width: calc(96% - 20px);
    left:2%;
    top:10px;
    z-index: 100;
    display: none;
}
.response .fa-solid{
    font-size: 20px;
}
.my-red{
    background-color: #9f080f;
    color: #ffffff;
}
.my-success{
    background-color: #5ad85e;
    color:white;
}
.response.displayed{
    display: flex;
}
.responseClass{
    display: none;
}
/* end */
.nav-bar{
    padding:30px;
}
.nav-bar .right{
    background-image: url(../images/g4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Flex container */
.flex-container {
    display: flex;
    width: calc(100% - 60px);
}
.small_nav.f-width{
    z-index: 30;
    width: 100%;
    background-color:#303030;
    margin-left: calc(-10% + 2px);
    height: 100vh;
}
.small_nav li{
    margin-top: 15px;
    padding:0px 10px;
}
.small_nav li a{
    color: #ffffff;
}

/* Flex items */
.flex-item {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #333;
}

/* Left and right items */
.left, .right {
    flex: 1;
}

/* Middle item */
.middle {
    flex: 3;
}
.centered-content{
    text-align: center;
}
.front-text{
    z-index: 5;
    height: 40vh;
    /* margin-top: -90vh; */
}
.front-text-inner{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-left: 10.5%;
}
.front-text-inner-inner{
    flex-direction: column;
}
.front-text-inner-inner h4{
    background-color: rgb(0, 130, 189);
    padding:5px 10px;
    color:#ffffff;
}
.front-text-inner-inner span{
    margin-top: 6px;
    margin-left: 10px;
}
.front-text-inner-inner span a{
    font-size: 18px;
    font-weight: bold;
    color:#EBA121;
}
.center-justified-content{
    justify-content: center;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.logo-img{
    width:40px;
    height: 40px;
}
.title-text{
    font-size: 22px;
    font-weight: bold;
}
.nav-btn{
    padding:5px 15px;
    font-weight: bold;
    font-size: 15px;
    color:#3E3E3F;
}
.btn-active{
    color:rgb(0, 130, 189);
}
.default-icon{
    color: rgb(100, 100, 100);
    margin-right:10px;
    font-size: 18px;
    cursor: pointer;
}
.right-content{
    text-align: right;
}
.home-banner{
    width:100%;
    background-color: rgb(245, 245, 245);
    height: 90vh;
}
/* Slider Container */
.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .small-nav-bar .fa-solid{
    font-size: 30px;
    color:rgb(0, 130, 189);
  }
  /* Slides Container */
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  /* Individual Slide */
  .slide {
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  
  /* Slide Image */
  .slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  .full-nav-bar{
    display: flex;
  }
  /* Slide Text */
  .slide .text {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    width: 90%;
    height: 100%;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .image-holder-tilted{
    position: absolute;
    width: 35%;
    height: 80%;
    background-color: #ffffff;
    /* box-shadow: 0px 0px 10px rgb(230, 230, 230); */
    left: 60%;
    border-radius: 40px;
    rotate: 45deg;
    overflow: hidden;
    z-index: 2;
  }
  .image-holder-tilted img{
    rotate: -45deg;
  }
  .moving-bg{
    position:absolute;
    width:100%;
    height: 100%;
  }
  .moving-bg{
    position: relative;
  }
  /* Text Animation */
  .slide .text.animate-text {
    opacity: 1;
    transform: translateX(0);
  }
  .small-card-1{
    width:200px;
    height: 200px;
    background-color: #EBA121;
    border-radius: 10px;
    opacity: 0.7;
    margin-left: 10%;
    rotate: 45deg;
    margin-top: -100px;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
  }
  .small-card-4{
    width:400px;
    height: 400px;
    background-color:#cfcaef;
    border-radius: 40px;
    left: 55%;
    rotate: 45deg;
    top: 0;
    position: absolute;
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
  }
  .small-card-2{
    margin-top: 60vh;
    width:200px;
    height: 200px;
    background-color: #1F3D4B;
    border-radius: 10px;
    margin-left: -100px;
    rotate: 45deg;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
  }
  .small-card-3{
    width:40%;
    height: 90vh;
    background-color: #AC3A26;
    border-radius: 20px;
    position: absolute;
    rotate: 15deg;
    left: 60%;
    top: 0%;
    box-shadow: 0px 0px 20px rgb(200, 200, 200);
  }
  .random-movement{
    transform: translate(-10%, -10%)
}
  /* Navigation Buttons */
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
    color: #3E3E3F;
    border: none;
    padding: 10px 20px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 18px;
  }

  .small-nav-bar{
    display: none;
  }
  .prev:hover,
  .next:hover{
    background-color: #3E3E3F;
    color:#ffffff;
  }
  .prev {
    left: 10px;
  }
  .text h2{
    padding:5px;
    background-color: rgb(0, 130, 189);
    color:#ffffff;
    width: fit-content;
    margin-left: 10%;
    font-size: 14px;
  }
  .fixed-flexed{
    display: flex;
    flex-wrap: nowrap;
  }
.text p span{
    margin-left: 10%;
    font-size: 32px;
    margin-top: 20px;
    color:#000;
    font-weight: bold;
}
.t-white{
    color:#ffffff !important;
}
.t-blue{
    color:rgb(0, 130, 189) !important;
}
.text p span.t-blue{
    margin-left: 10px;
}
  .next {
    right: 10px;
  }
.btn-default{
    background-color: rgb(0, 130, 189);
    border:0px;
    border-radius: 5px;
    padding:10px 20px;
    margin-left: 10%;
    cursor: pointer;
    color: #ffffff;
    width: fit-content;
}
.text .btn-default{
    margin-top: 30px;
}
.f-row{
    width: calc(100% - 60px);
    padding:30px;
}
.q3-row{
    width: calc(90% - 60px);
    padding: 30px;
    margin-left: 5%;
}
.serv .f-width.about-cards .card.width-q4.d-flex{
    margin-left: 5%;
    width: 33.3%;
}
.width-75{
    width: 80%;
    margin-left: 10%;
}
.main-title{
    color:#3E3E3F;
    font-size: 42px;
    font-weight: 1000;
    padding-right: 10px;
    width: calc(100% - 20px);
}
.cat-card{
    border:1px solid rgb(220, 220, 220);
    padding:8px;
    border-radius: 3px;
    color:#3E3E3F;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
    margin:5px;
}
.active-card{
    border:1px solid rgb(0, 130, 189);
    background-color: rgb(0, 130, 189);
    color:#ffffff;
}
.home-cat{
    flex-wrap: wrap;
}
.home-cat .flex-container{
    margin-top: 40px;
}
.home-cat.flex-container{
    margin-top: 80px;
}
.flex-container.cats{
    flex-wrap: wrap;
}
.cat-card-holder{
    width: 23%;
    margin-left: 2%;
    height: 35vh;
    cursor: pointer;
    margin-bottom: 20px;
}
.cat-card-holder-bg,
.cat-card-holder-img{
    background-color: #000;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    z-index: 2;
}
.cat-card-holder-img{
    opacity: 1;
    background-color: 0;
    z-index: 1;
}
.cat-card-holder-img img{
    width: 100%;
    height: 100%;
}
.cat-card-holder-front{
    width: 90%;
    margin-left: 5%;
    z-index: 3;
    background-color: #ffffff;
    height: 15%;
    top: 80%;
    display: none;
    transition: 0.3s ease-in-out;
    justify-content: center;
}
.cat-card-holder:hover > .cat-card-holder-bg{
    opacity: 0.5;
}
.cat-card-holder:hover > .cat-card-holder-front{
    display: block;
}

.p-relative{
    position: relative;
}
.shop-pagination{
    text-align: right;
}
.shop-pagination .btn-default{
    border-radius: 0px;
    padding: 5px 15px;
    margin:0px;
    border:1px solid transparent;
}
.shop-pagination .btn-default.page-is-active{
    background-color: transparent;
    color: rgb(0, 130, 189);
    border:1px solid rgb(0, 130, 189);
}
.p-absolute{
    position: absolute;
}
.stats{
    margin-top: 30px;
    height: 60vh;
    background-image: url(../images/g4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.stats.f-row{
    padding:0px;
    width: 100%;
}
.stats-bg{
    width: 100%;
    height: 100%;
    /* background-color: #2910b7; */
    background: linear-gradient(to bottom, rgb(3, 3, 158), blue); /* Example background */
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    opacity: 0.7;
}
.stats-bg .q3-row.flex-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    z-index: 5;
}
.h-card{
    width: 33.3%;
    display: flex;
    height: 50vh;
    flex-direction: row;
    text-align: center;
}
.h-card-inner{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h-card-bg{
    height: 100px;
    width: 100px;
    left: calc(50% - 100px);
    background-color: rgb(26, 112, 240);
    border-radius: 40px;
    rotate: 45deg;
    z-index: 2;
}
.h-card-bg .fa-solid{
    rotate: -45deg;
    font-size: 40px;
    margin-top: 20px;
}
.h-card-bg-1{
    height: 120px;
    width: 120px;
    left: calc(50% - 100px);
    background-color:rgb(41, 106, 244);
    border-radius: 40px;
    rotate: 35deg;
    opacity: 0.8;
    z-index: 1;
}
.left-content{
    text-align: left;
}
.h-card-text{
    margin-top: 250px;
    width: 100%;
    color:#ffffff;
}
.h-card-text p{
    margin-left: -20%;
    font-size: 15px;
}
.h-card-text h2{
    margin-left: -20%;
    font-size: 32px;
}
.cat-row{
    width: 80%;
    margin-left: 10%;
    display: flex;
    margin-top: 40px;
    height: 70vh;
}
.half{
    width: 50%;
}
.cat-row .half{
    display: flex;
    width: 90%;
    margin-left: 5%;
    flex-wrap: wrap;
}
.f-width{
    width: 100%;
    margin:0%;
}
.cat-row .f-width{
    width: 100%;
}
.image-container,
.side-2.image-container{
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url(../images/jacket-2899728_1280.png);/* Replace with your image */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.side-2.image-container{
    height: 33vh;
    background-image: url(../images/pngwing.com.png);
    margin-bottom: 20px;
}
.img-bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-bg img{
    width: 100%;
    height: 100%;
}
.cat-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #000;
    font-weight: bold;
    z-index: 2;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
/* Shading overlay */
.shading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  /* Diagonal shading parts */
  .shading-overlay::before,
  .shading-overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Shading color */
    transition: transform 0.3s ease;
  }

  /* Top-right diagonal */
  .shading-overlay::before {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    transform: translateY(-100%);
  }

  /* Bottom-left diagonal */
  .shading-overlay::after {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    transform: translateY(100%);
  }

  /* Hover effect */
  .image-container:hover > .cat-text{
    color:#ffffff;
  }
  .image-container:hover .shading-overlay {
    opacity: 1;
  }

  .image-container:hover .shading-overlay::before {
    transform: translateY(0);
  }

  .image-container:hover .shading-overlay::after {
    transform: translateY(0);
  }
.services{
    height: 70vh;
}
.flex-container.main-about .half.services{
    height: fit-content;
}
.bg-flower-1{
    width: 40%;
    margin-left: 20%;
    height: 50vh;
    border-top-left-radius: 70%;
    border-top-right-radius: 100%;
    rotate: 20deg;
    background-color: #f1dcd5;
} 
.bg-flower-2{
    width: 40%;
    margin-left: 40%;
    height: 50vh;
    rotate: 50deg;
    top:10vh;
    border-top-left-radius: 50%;
    border-top-right-radius: 120%;
    background-color: #ffe6ad;
    z-index: 3;
}
.service-img{
    width: 90%;
    height: 70vh;
    background-color: rebeccapurple;
    z-index: 4;
    border-top-left-radius: 20%;
    border-top-right-radius: 100%;
    top: 12vh;
    border-bottom-right-radius: 20%;
    overflow:hidden;
    box-shadow: 0px 0px 20px rgb(200, 200, 200);
}
.service-img img{
    width: 100%;
    height: 100%;
}
.service-description{
    width: 80%;
    margin-left: 5%;
    margin-top: 10vh;
}
.service-description .flex-container{
    flex-wrap: wrap;
}
.service-description .flex-container .half{
    margin-bottom: 30px;
}
.service-description .btn-default{
    margin-left: 0%;
}
.service-description .flex-container .fa-solid{
    background-color: rgb(0, 130, 189);
    padding:5px 8px;
    border-radius: 50%;
    color:#ffffff;
}
.home-cat.reviews{
    margin-top: 10vh;
    background-color: rgb(240, 240, 240);
    overflow:hidden;
}
.review-card{
    margin-top: 15vh;
    width: calc(70% - 60px);
    margin-left:15%;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(220, 220, 220);
}
.review-pagination{
    margin: 5vh 15% 15vh 15%;
    width: 70%;
}
.paginate-btn{
    padding: 4px 10px;
    border:0px;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color:#3E3E3F;
    transition: 0.4s ease-in-out;
}
.paginate-btn:hover{
    background-color: rgb(0, 130, 189);
    color: #ffffff;
}
.review-card img{
    width: 60px;
    height: auto;
}
.review-card span{
    margin-left: 20px;
    font-size: 22px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color:#3E3E3F;
}
.review-body{
    margin-top: 20px;
}
.review-body .fixed-flexed{
    margin-top: 30px;
}
.review-body .fixed-flexed .fa-solid{
    color:#EBA121;
    font-size: 18px;
    margin-right: 6px;
}
.review-topic{
    margin: 15vh 15% 0 15%;
    width: 70%;
    position: relative;
}

.review-topic.h-card{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    text-align: center;
}
.review-topic .h-card-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review-topic .h-card-bg{
    height: 300px;
    width: 300px;
    left: calc(50% - 300px);
    background-color: rgb(26, 112, 240);
    border-radius: 80px;
    rotate: 45deg;
    z-index: 2;
}
.review-topic .h-card-bg .fa-solid{
    rotate: -45deg;
    font-size: 40px;
    margin-top: 20px;
}
.review-topic .h-card-bg-1{
    height: 360px;
    width: 360px;
    left: calc(50% - 360px);
    background-color:rgb(41, 106, 244);
    border-radius: 100px;
    rotate: 35deg;
    opacity: 0.8;
    z-index: 1;
}
.review-topic .h-card-inner-text{
    margin-left: -10%;
    margin-top: 25%;
    rotate: -45deg;
    font-size: 26px;
    font-weight: 900;
    color:#ffffff;
}
.main-about .review-topic .h-card-inner-text{
    margin-top:-15%;
    margin-left: -35%;
    rotate: -30deg;
}
.f-width.footer{
    background-color: #303030;
    padding: 30px;
    width: calc(100% - 60px);
}
.col-20{
    width: 20%;
}
.col-30{
    width: 30%;
}
.f-width.footer .col-30 span{
    margin-top: 5px;
    font-size: 22px;
    color:#ffffff;
    margin-left:10px;
    font-weight: 900;
}
.f-width.f-width.footer .col-20 .col-body,
.f-width.f-width.footer .col-30 .col-body{
    width: 90%;
    margin-left: 5%;
}
.f-width.f-width.footer .col-30 .col-body p{
    margin-top: 30px;
    color: rgb(150, 150, 150);
}
.f-width.f-width.footer .col-30 .col-body h4,
.f-width.f-width.footer .col-20 .col-body h4{
    font-weight: 800;
    color: #ffffff;
    font-size: 22px;
}
.col-body-link{
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer-link{
    color: rgb(150, 150, 150);
    cursor: pointer;
}
.touch{
    color: rgb(150, 150, 150);
    margin-bottom: 10px;
}
.col-body li{
    margin-bottom: 10px;
}
.footer-link .fa-solid{
    color: rgb(26, 112, 240);
    display: none;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 3px;
}
.footer-link:hover > .fa-solid{
    display: block;
}
.footer-link:hover{
    color: #ffffff;
}
.touch .fa-solid{
    margin-right: 10px;
    margin-top: 5px;
}
.footer-icons{
    margin-top: 30px;
}
.footer-icons .fa-brands{
    color:#ffffff;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.footer-icons .fa-brands:hover{
    color: rgb(150, 150, 150);
}
.footer-bottom.f-width{
    background-color: #3f3f3f;
    padding: 20px 0px;
    /* display: none; */
}
.footer-bottom.f-width p{
    color: rgb(150, 150, 150);
    width: calc(90% - 30px);
    font-size: 16px;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color:#303030; /* Green background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.8;
  z-index: 100;
  transition: opacity 0.3s ease;
}
.back-to-top:hover {
  opacity: 1; /* Fully visible on hover */
}
.about-banner{
    height: 40vh;
    overflow-y: hidden;
}
.f-height{
    height: 100%;
}
.about-banner-front{
    background-color: #000;
    z-index: 1;
    opacity: 0.6;
}
.about-banner-text{
    z-index: 2;
}
.about-banner-text-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-title{
    font-size: 36px;
    font-weight: 800;
    color: #ffffff;
}
.main-about{
    height: 70vh;
    overflow: hidden;
}
.page-title-sub-text,
.page-title-sub-text a{
    color: #ffffff;
}
.with-bg{
    background-image: url(../images/rect1.png);
    background-repeat: no-repeat;
}
.main-about .review-card{
    box-shadow: none;
}
.card{
    /* border: 1px solid rgb(230, 230, 230); */
    border-radius: 5px;
    padding:50px 20px;
    height: fit-content;
    text-align: center;
    transition: 0.3s ease-in-out;
}
.card-inner{
    flex-direction: column;
    justify-content: center;
}
.about-cards{
    margin-top: 10vh;
}
.card-title .fa-solid{
    font-size: 48px;
    color:rgb(0, 130, 189);
    transition: 0.2s ease-in-out;
}
.card .card-title-text h4{
    font-size: 18px;
    font-weight: bold;
}
.card .card-title-text p{
    font-size: 14px;
}
.width-q4{
    width:31.33%;
    margin-left:1.33%;
}
.width-60{
    width: 60%;
    margin-left: 20%;
}
img.width-60{
    margin-top: 10vh;
}
/* .card:hover .card-title .fa-solid{
    /* color: #ffffff; *
} */
.services .q3-row .service-card.half{
    min-width: 200px;
}
.width-q{
    width:40%;
}
.width-30{
    width: 30%;
}
.width-70{
    width: 70%;
}
.service-card.half{
    padding: 10px;
    width: calc(50% - 20px);
    margin-bottom: 20px;
}
.services .q3-row.d-flex{
    margin-top: 120px;
    flex-wrap: wrap;
}
.service-card.half .fa-solid{
    font-size: 25px;
    color: rgb(0, 130, 189);
}
.service-card.half .width-q-3 h4{
    font-size: 16px;
    margin-bottom: 10px;
}
.search-box{
    border-radius: 5px;
    padding: 10px;
}
.f-input{
    padding: 7px;
    border: 0px;
    border-bottom: 1px solid rgb(200, 200, 200);
    width: calc( 80% - 14px);
    margin-left: 5%;
}
.f-90{
    width: 90%;
}
.f-input:focus{
    outline: none;
}
.btn-search{
    border:0px;
    background-color: transparent;
    cursor: pointer;
    font-size: 22px;
    color: rgb(150, 150, 150);
}
.product-cats{
    margin-top: 20px;
    color:#303030;
}
.product-cats h4{
    font-weight: 800;
    font-size: 20px;
}
.the-stats{
    margin-top: 20px;
    height:fit-content;
    margin-bottom: 20px;
}
.the-stats .f-input-contact.f-width{
    padding: 10px 10px;
    background-color: transparent;
}

.active-cat{
    color: rgb(0, 130, 189);
}
.shop-page .cat-card-holder .cat-card-holder-front{
    text-align: center;
}
.f-input-contact.q3-row,
.f-input-contact.f-width{
    padding: 10px 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    margin-top: 10px;
}
.f-input-contact.f-width{
    width: 86%;
}
.f-input-contact.q3-row:focus,
.f-input-contact.f-width:focus{
    outline: none;
}
.half label,
.f-width label{
    margin-left:5%;
    font-weight: bold;
    color:#303030;
}
.half .f-width{
    margin-left: 2.5%;
}
.must{
    color: red;
}
.with-top{
    margin-bottom: 20px;
}
.with-top-40{
    margin-top: 40px;
}
textarea{
    height: 120px;
}
.round-card{
    width: 150px;
    height: 150px;
    background-color: transparent;
    /* border: 15px solid rgb(0, 130, 189); */
    border-radius: 50%;
    margin-bottom: 20px;
}
.round-card-inner{
    flex-direction: column;
    justify-content: center;
}
.round-card-inner .fa-solid{
    font-size: 32px;
    color: rgb(0, 130, 189);
}
.round-card-inner p{
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}
.service-full-card{
    flex-direction: column;
    justify-content: center;
}
.service-full-card img{
    width: 100%;
}
.service-full-card.d-flex > *{
    margin: 0px 10%;
}
.service-full-card.d-flex.right-content > *{
    margin: 5% 0px;
    width: 90%;
}
.service-full-card.d-flex .fa-brands,
.service-full-card.d-flex .fa-solid{
    font-size: 40px;
    color: rgb(0, 130, 189);
}
.service-full-card.d-flex h3{
    color:#303030;
    font-size: 32px;
    font-weight: 900;
}
.default-color{
    color: rgb(0, 130, 189);
}
.service-full-card.d-flex p{
    color:#303030;
    margin-top: 20px;
}
.hire-line{
    height: 1px;
    width: 30px;
    background-color: rgb(0, 130, 189);
    margin-top: 10px;
    margin-right: 5px;
}
.c-action{
    margin-top: 20px !important;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
}
.c-action:hover{
    color: rgb(0, 130, 189);
}
.full-bg{
    background-image: url(../images/g11.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.with-pattern-bg{
    margin-top: 10px;
}
.with-pattern-bg img{
    width: 100%;
}


/*************
*************
************************************
***********************
************************
*****************************/

/*
WEBSITE RESIZE
*/
@media(max-width: 1145px){
    .flex-container.home-cat.footer.f-width .col-30,
    .flex-container.home-cat.footer.f-width .col-20{
        width: 50%;
    }
}
@media (max-width: 1110px){
    .half.services .service-card.half.fixed-flexed{
        width: 100%;
        margin-left: 0%;
    }
}
@media (max-width: 1090px){
    .cat-card-holder{
        width: 30%;
        margin-left: 3.33%;

    }
    .cats .cat-card-holder:nth-child(8),
    .cats .cat-card-holder:nth-child(7){
        display: none;
    }
    .top-about.flex-container.main-about.f-width .half:first-child{
        width: 60%;
    }
    .top-about.flex-container.main-about.f-width .half:nth-child(2){
        width: 40%;
    }
    .top-about.flex-container.main-about.f-width .half img.width-60{
        width: 90%;
        margin-left: 5%;
        margin-top: 150px;
    }
}
@media (max-width: 1030px){
    .review-topic .h-card-bg{
        left: calc(70% - 300px);
    }
    .review-topic .h-card-bg-1{
        left: calc(70% - 360px);
    }
}
@media (max-width: 985px){
    .flex-container.home-cat.services{
        height: fit-content;
        overflow-y: visible;
    }
    .service-description .flex-container .half{
        width: 100%;
    }
    .flex-container.main-about.f-width.serv-break{
        flex-direction: column;
    }
    .flex-container.main-about.f-width.serv-break .half{
        width: 100%;
    }
    .flex-container.main-about.f-width.serv-break .half:first-child .review-card{
        /* text-align: center; */
        width: 85%;
        margin-left: 5%;
    }
    .flex-container.main-about.f-width.serv-break .half:last-child .half{
        width: 25%;
    }
}
@media (max-width: 900px){
    .cat-card-holder{
        width: 46.6%;
    }
    .cats .cat-card-holder:nth-child(5),
    .cats .cat-card-holder:nth-child(6){
        display: none;
    }
    .right{
        display: none;
    }
    /* .nav-bar.flex-container{
        flex-direction: column;
    } */
    .nav-bar.flex-container .left{
        margin-bottom: 20px;
    }
    /* home banner responsiveness */
    .image-holder-tilted{
        height: 60vh;
        width: 50%;
        left: 50%;
    }

}
@media (max-width: 880px){
    .flex-container.home-serv{
        width: 100%;
        margin-left: 0%;
    }
    .top-about.flex-container.main-about.f-width .half:first-child{
        width: 100%;
    }
    .top-about.flex-container.main-about.f-width .half:nth-child(2){
        display: none;
    }
    .top-about.flex-container{
        flex-direction: column;
    }
    .flex-container.about-cards{
        flex-direction: column;
    }
    .flex-container.about-cards .card.width-q4.d-flex{
        width: 100%;
        margin-bottom: 20px;
    }
    .flex-container.about-cards.width-75{
        width: 90%;
        margin-left: 5%;
    }
    .flex-container.about-cards.width-75 .card.width-q4.d-flex{
        width: 85%;
        margin-left: 5%;
    }
    .serv .f-width.about-cards .card.width-q4.d-flex{
        width: 100%;
    }
    .flex-container.main-about.f-width.serv-break .half:last-child .half{
        width: 50%;
    }
    .flex-container.main-about.f-width.serv-break .half:last-child .half .round-card{
        border-radius: 0px;
        width:90%;
        margin-left: 5%;
        border:0px;
    }
}
@media (max-width: 850px){
    .flex-container.main-about.f-width{
        flex-direction: column;
    }
    .flex-container.main-about.f-width .half{
        width: 100%;
        margin:0px;
    }
    /* with issue */
    .flex-container.main-about.f-width .half.f-height .review-card{
        margin-left: 5%;
        width: 85%;
    }
    .flex-container.main-about.f-width .q3-row.d-flex {
        margin-top: 0px;
    }
    .flex-container.main-about.f-width .q3-row.d-flex .width-q{
        width: fit-content;
        margin-right: 20px;
    }
    .service-full-card.right-content{
        text-align: left;
    }
    
    .service-full-card.d-flex > *,
    .service-full-card.d-flex.right-content > *{
        margin: 5% 0px;
        width: 90%;
    }
}
@media (max-width: 810px){
    .sec{
        order: -1;
        height: 500px;
        text-align: center;
    }
    .flex-container.home-cat.services .half{
        width: 100%;
    }
    .flex-container.home-cat.services .half-to-hide{
        display: none;
    }
    .flex-container.home-cat.services .half .service-description .half{
        width: 50%;
    }
    .flex-container.home-cat.reviews.f-width{
        flex-direction: column;
    }
    .flex-container.home-cat.reviews.f-width .half{
        width: 100%;
    }
    
    .review-topic .h-card-bg{
        left: calc(60% - 300px);
    }
    .review-topic .h-card-bg-1{
        left: calc(60% - 360px);
    }
    .flex-container.home-cat.reviews.f-width .half .review-card{
        width: 80%;
        margin-left: 5%;
    }
    .flex-container.home-cat.reviews.f-width .half .review-pagination{
        margin-left: 5%;
    }
}
@media (max-width: 800px){
    .home-cat{
        width: 100%;
        margin-left: 0px;
    }
    .review-topic{
        margin: 15vh 0% 0 15%;
        width: 70%;
    }
    .review-topic .h-card-bg{
        left: calc(62% - 300px);
    }
    .review-topic .h-card-bg-1{
        left: calc(62% - 360px);
    }
}
@media (max-width: 730px){
    .left{
        flex:none;
        width: fit-content;
    }
}
@media (max-width: 530px){
    .review-topic .h-card-bg{
        left: calc(70% - 300px);
    }
    .review-topic .h-card-bg-1{
        left: calc(70% - 360px);
    }
    .review-topic.h-card{
        width: 80%;
    }

}
@media (max-width: 500px){
    .review-topic .h-card-bg{
        width: 90%;
        left: 5%;
    }
    .review-topic .h-card-bg-1{
        width: 95%;
        left: 2.5%;
    }
    .flex-container.home-cat.reviews.f-width .half .review-card{
        width: 80%;
    }
    .width-70.d-flex.shop-page .cat-card-holder{
        width: 100%;
    }
}
@media (max-width: 490px){
    .flex-container.home-cat.reviews.f-width .half .review-card{
        width: 75%;
    }
}
@media (max-width: 445px){
    .flex-container.main-about.f-width.serv-break .half:last-child .half{
        width: 100%;
    }
}
@media (max-width: 365px){
    .flex-container.home-cat.reviews.f-width .half .review-card{
        width: 70%;
    }
}
@media (max-width: 620px){
    .image-holder-tilted{
        height: 60vh;
        width: 70%;
        left: 30%;
    }
}
@media (max-width: 600px) {
    .search-box.fixed-flexed.f-90{
        width: 95.5%;
    }
    .cats-2{
        margin-top:20px;
    }
    .flex-container.home-cat.services .half .service-description .flex-container{
        flex-direction: row;
    }
    .flex-container {
        flex-direction: column;
    }
    .flex-container.cats{
        flex-direction: row;
    }
    .cats .cat-card-holder{
        height: 30vh;
    }
    .left, .middle, .right {
        flex: 1 1 100%; /* Each item takes full width */
    }
    .stats{
        height: 120vh;
    }
    .stats .h-card{
        height: 30vh;
    }
    .stats .h-card  .h-card-bg,
    .stats .h-card  .h-card-bg-1{
        left: 0px;
    }
    .stats .h-card{
        width: 100%;
    }
    .stats .h-card .h-card-text{
        margin-top: 0px;
        width: calc(100% - 150px);
        margin-left: 150px;
    }
    .flex-container.home-cat .cat-row{
        flex-wrap: wrap;
        height: fit-content;
        overflow-y: visible;
    }
    .flex-container.main-about.f-width .half.f-height .review-card{
        margin-left: 0%;
        width: 85%;
    }
    .flex-container.home-cat.footer.f-width .col-30,
    .flex-container.home-cat.footer.f-width .col-20{
        width: 100%;
    }
    .flex-container.products.q3-row .width-30,
    .flex-container.products.q3-row .width-70{
        width: 100%;
    }
    .flex-container.products.q3-row .width-30 .f-input-contact.f-width{
        width: 100%;
    }
}
@media (max-width: 570px){
    .full-nav-bar{
        display: none;
    }
    .small-nav-bar{
        display: block;
    }
    .nav-bar.flex-container .left{
        display: flex;
        flex-direction: row;
    }
    .nav-bar.flex-container .left{
        width: 100%;
        flex: 1;
    }
    /* .nav-bar.flex-container .left .small-nav-bar .fa-solid{
        float: right !important;
    } */
}
@media (max-width: 500px){
    .flex-container.cats{
        flex-direction: column;
    }
    .cats .cat-card-holder{
        height: 43vh;
        width: 96.6%;
    }
    .cats .cat-card-holder:nth-child(3),
    .cats .cat-card-holder:nth-child(4){
        display: none;
    }
}
@media (max-width: 420px){
    .image-holder-tilted{
        height: 50vh;
        width: 90%;
        left: 10%;
    }
    .small-card-3{
        display: none;
    }
    .slide .text p.fixed-flexed{
        flex-wrap: wrap;
    }
}
@media (max-width: 375px){
    .flex-container.home-cat.services .half .service-description .flex-container{
        flex-direction: column;
    }
    .flex-container.home-cat.services .half .service-description .flex-container .half{
        width: 100%;
    }
}